In [9]:
import pandas as pd
url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
df = pd.read_csv(url, error_bad_lines=False)

In [11]:
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,607,665,714,784,840,906,933,996,1026,1092
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,446,467,475,494,518,539,548,562,584,609
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,1914,1983,2070,2160,2268,2418,2534,2629,2718,2811
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,638,646,659,673,673,696,704,713,717,717
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,19,19,19,19,19,19,24,24,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
df_conf=df.drop(columns=["Province/State","Lat","Long"])
df_conf=df_conf.groupby(df_conf["Country/Region"]).sum()
df_conf.reset_index(inplace=True)
df_conf=df_conf.transpose()
a=df_conf.iloc[0]
df_conf.columns=a
df_conf=df_conf.drop(index=["Country/Region"])
df_conf=df_conf.reset_index(inplace=False)
df_conf=df_conf.rename(columns={"index":"Date"}) 
countries=list(df_conf.columns)
countries=countries[1:len(countries)]
df_conf.insert(1,"World",df_conf[countries].sum(axis=1))

df_conf.to_excel("Data_Confirmed.xls")
df_new_conf=df_conf[countries].diff()
df_new_conf.iloc[0]=df_conf[countries].iloc[0]
df_new_conf.insert(0,"Date",df_conf["Date"])
df_new_conf.insert(1,"World",df_new_conf[countries].sum(axis=1))
df_new_conf.to_excel("Data_New_Confirmed.xls")

In [2]:
url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
df = pd.read_csv(url, error_bad_lines=False)
df_death=df.drop(columns=["Province/State","Lat","Long"])
df_death=df_death.groupby(df_death["Country/Region"]).sum()
df_death.reset_index(inplace=True)
df_death=df_death.transpose()
a=df_death.iloc[0]
df_death.columns=a
df_death=df_death.drop(index=["Country/Region"])
df_death=df_death.reset_index(inplace=False)
df_death=df_death.rename(columns={"index":"Date"})
df_death.insert(1,"World",df_death[countries].sum(axis=1))
df_death.to_excel("Data_Deaths.xls")


df_new_deaths=df_death[countries].diff()
df_new_deaths.iloc[0]=df_death[countries].iloc[0]
df_new_deaths.insert(0,"Date",df_conf["Date"])
df_new_deaths.insert(1,"World",df_new_deaths[countries].sum(axis=1))
df_new_deaths.to_excel("Data_New_Deaths.xls")

In [3]:
url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
df = pd.read_csv(url, error_bad_lines=False)
df_recov=df.drop(columns=["Province/State","Lat","Long"])
df_recov=df_recov.groupby(df_recov["Country/Region"]).sum()
df_recov.reset_index(inplace=True)
df_recov=df_recov.transpose()
a=df_recov.iloc[0]
df_recov.columns=a
df_recov=df_recov.drop(index=["Country/Region"])
df_recov=df_recov.reset_index(inplace=False)
df_recov=df_recov.rename(columns={"index":"Date"})
df_recov.insert(1,"World",df_recov[countries].sum(axis=1))
df_recov.to_excel("Data_Recovered.xls")

df_new_recov=df_recov[countries].diff()
df_new_recov.iloc[0]=df_recov[countries].iloc[0]
df_new_recov.insert(0,"Date",df_conf["Date"])
df_new_recov.insert(1,"World",df_new_recov[countries].sum(axis=1))
df_new_recov.to_excel("Data_New_Recover.xls")

In [4]:
df_sort=df_conf[countries].transpose()
df_sort=df_sort.sort_values(by=len(df_conf)-1,ascending=False).head(50).transpose()
high_cases=df_sort.columns

In [5]:
df_high_cases=df_conf[high_cases]
df_high_cases.insert(0,"Date",df_conf["Date"])
df_high_cases.insert(1,"World",df_conf[countries].sum(axis=1))
df_high_cases.to_excel("Data_High_Confirmed.xls")

In [6]:
df_high_deaths=df_death[high_cases]
df_high_deaths.insert(0,"Date",df_conf["Date"])
df_high_deaths.insert(1,"World",df_death[countries].sum(axis=1))
df_high_deaths.to_excel("Data_High_Deaths.xls")

In [7]:
df_high_recov=df_recov[high_cases]
df_high_recov.insert(0,"Date",df_conf["Date"])
df_high_recov.insert(1,"World",df_recov[countries].sum(axis=1))
df_high_recov.to_excel("Data_High_Recov.xls")